{:lein   true
 :nrepl {:port 8777}
 :builds {:app {:target :browser
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules {:app {:init-fn zenroom-example.core/init
                                :preloads [devtools.preload]}}
                :devtools {:http-root "resources/public"
                           :http-port 8280}}
          :prod {:target :browser
                 :build-hooks [(build/fix-zenroom-wasm-path-hook)]
                 :output-dir "resources/public/js/compiled"
                 :asset-path "/js/compiled"
                 :modules {:app {:entries [zenroom-example.core]}}}}}
